/* 
----------------------------------------
ABOUT SECTION
----------------------------------------
*/
.section-about {
  padding: 4.8rem 0;
  color: var(--color-text-primary);
}

.about-heading {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-text {
  font-size: 1.6rem;
  line-height: 1.6;
}
