/* 
----------------------------------------
ABOUT SECTION
----------------------------------------
*/
.section-about {
  padding: 4.8rem 0;
  color: var(--color-text-primary);
}

.test {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.about-heading {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.section-tech-stack {
  padding: 4.8rem 0;
  color: var(--color-text-primary);
}

.tech-stack-text {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.tech-stack-list {
  display: flex;
  /* flex-direction: column; */
  gap: 1.2rem;
  list-style: none;
}

/* ----------- each pack of language---------- */

.tech-stack {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 12px; /* spacing between items */
}

.tech-stack-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #242424;
  color: var(--color-text-primary);
  letter-spacing: 0.75px;

  font-size: 14px;
  padding: 6px 14px;
  border-radius: 6px;
  transition: background 0.2s ease;

  width: fit-content;
}

.tech-stack-item:hover {
  background: #3d3d3d; /* lighter on hover */
}

.icon-tech {
  width: 18px;
  height: 18px;
  fill: currentColor; /* matches text color */
}

.tech-stack-item a {
  line-height: 1;
  /* font-size: 1.6rem; */
  color: var(--color-text-primary);
  text-decoration: none;
}

/* --------------- */
