/* 
----------------------------------------
ABOUT SECTION
----------------------------------------
*/
.section-about {
  padding: 4.8rem 0;
  color: var(--color-text-primary);
  /* min-height: 80vh; */
}

.test {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.about-heading {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.section-tech-stack {
  padding: 4.8rem 0;
  color: var(--color-text-primary);
}

.tech-stack-text {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.tech-stack-list {
  display: flex;
  /* flex-direction: column; */
  gap: 1.2rem;
  list-style: none;
  flex-wrap: wrap;
}

/* ----------- each pack of language---------- */

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.tech-stack-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: var(--color-bg-shade);
  color: var(--color-text-primary);
  letter-spacing: 0.5px;

  font-size: 1.4rem;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  transition: background 0.2s ease;

  width: fit-content;
}

.icon-tech {
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor; /* matches text color */
}

.tech-stack-item a {
  line-height: 1;
  color: var(--color-text-primary);
  text-decoration: none;
}

/* --------------- */
