/*
---01 TYPOGRAPHY SYSTEM
  
- font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- font weights
default: 400

- line height
default: 1



--- 02 COLORS

pallete 01
#1A1423
#B75D69
#EACDC2
#774C60
#372549


- Primary: 
- Tints: 
- Shades: 
- Accents:
- Greys: #555


--- 05 SHADOWS


--- 06 BORDER RADIUS


--- 07 WHITESPACE

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  --color-background: #141414;
  --color-background-l-op: #141414e0;

  --color-accent01: #b75d69;

  --color-text-primary: #d6d6d6;
  --color-text-tint01: #aaa;
  /* --color-text-tint02: #555555; */

  --color-bg-shade: #282828;
  --color-bg: #1a1a1a;

  --color-text-brightest: #fafafa;
  --color-text-all-white: #fafafa;

  --grid-color: #fefefe1a;

  --font-primary: "Mulish", sans-serif;
  --font-cursive: "Cedarville Cursive", "Brush Script MT", cursive;
}

[data-theme="light"] {
  /* --color-background: #e7e7e7; */
  /* --color-text-primary: #151515; */

  --color-background: #e4e4e4;
  --color-background-l-op: #e4e4e4e0;

  --color-accent01: #b75d69;

  --color-text-primary: #1f1f1f;
  --color-text-tint01: #494949;
  /* --color-text-tint01: #555555; */

  --color-bg-shade: #c8c8c8;
  --color-bg: #e0e0e0;

  --color-text-brightest: #1a1a1a;

  --grid-color: #0101011a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  line-height: 1;
  letter-spacing: 0.25px;
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-background);
}

/* transition of fadein fadeout */
body {
  opacity: 1;
  transition: opacity 0.02s ease;
}

body.page-loaded {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}
/* ---- */

main {
  position: relative;
  min-height: 80vh;
  /* padding: 2rem; */
  /* overflow: hidden; */
  z-index: 1;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(
      to right,
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 90% at 50% 100%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 90% at 50% 100%,
    #000 60%,
    transparent 100%
  );
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container--narrow {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  padding: 0 4.8rem;
}

/* NOT reusable anymore */
.grid--2-cols {
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  grid-template-columns: 1fr 0.7fr;
}

.grid--3-cols-121 {
  grid-template-columns: 1fr 2fr 1fr;
}

.accent-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-accent01); /* fallback */
}

.accent-dot--small {
  width: 0.5rem;
  height: 0.5rem;
}

.link:link,
.link:visited {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text-primary);
  color: var(--color-text-tint01);
  transition: all 0.3s ease;
}

.link:hover,
.link:active {
  color: var(--color-accent01);
  font-weight: 1000;
}

.cta-basic:link,
.cta-basic:visited {
  padding: 1.2rem 1.8rem;
  border-radius: 100px;
}

.cta-basic:hover,
.cta-basic:active {
  background-color: var(--color-bg-shade);
  color: var(--color-text-brightest);
}

.cta-adv:link,
.cta-adv:visited {
  font-weight: 800;
  padding: 1.2rem 1.8rem;
  background-color: var(--color-bg-shade);
  border-radius: 100px;
  color: var(--color-text-brightest);
}

.cta-adv:hover,
.cta-adv:active {
  background-color: var(--color-accent01);
  color: var(--color-text-all-white);
}

/* 
----------------------------------------
HELPER CLASSES
----------------------------------------
*/

.margin-bottom-big {
  margin-bottom: 4.8rem;
}

.margin-bottom-mid {
  margin-bottom: 2.4rem;
}

.margin-bottom-small {
  margin-bottom: 1.6rem;
}

.text-align-c {
  text-align: center;
}

/* img pop for light mode*/

.img-wrap {
  display: inline-block; /* or block/flex as you need */
  position: relative;
  overflow: visible;
  will-change: transform, filter;
}

.img-wrap.pop img {
  display: block;
  max-width: 80%;
  justify-self: center;
  transition: transform 220ms ease, filter 220ms ease, box-shadow 220ms ease;
  /* increase contrast/saturation and a tiny brightness tweak */
  filter: contrast(1.16) saturate(1.15) brightness(0.99);
  transform: translateZ(0);
  /* soft drop-shadow for separation from page */
  filter: drop-shadow(0 18px 28px rgba(0, 0, 0, 0.18)) contrast(1.12)
    saturate(1.12);
}

/* optional hover microinteraction */
.img-wrap.pop:hover img {
  transform: translateY(-6px) scale(1.02);
  filter: drop-shadow(0 28px 40px rgba(0, 0, 0, 0.22)) contrast(1.18)
    saturate(1.2);
}
