/* 
----------------------------------------
PROJECTS SECTION
----------------------------------------
*/

.section-projects {
  padding: 4.8rem 0;
  color: var(--color-text-primary);
}

/* heading of every page */
.heading-secondary {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 400;
  color: var(--color-text-primary);
  letter-spacing: 0.2px;
}

.margin-bottom-big {
  margin-bottom: 4.8rem;
}

.text-align-c {
  text-align: center;
}

.heading-text {
  letter-spacing: 0.5px;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 500;
}

.grid-proj-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 4.8rem;
}

.card {
  position: relative;
  /* background: var(--color-background); */
  background: var(--color-bg);
  border-radius: 11px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  /* overflow: hidden;
  transition: transform 0.2s ease; */
}
/* 
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, #d1d5db 1px, transparent 1px),
    linear-gradient(to bottom, #d1d5db 1px, transparent 1px);
  background-size: 32px 32px;
  -webkit-mask-image: radial-gradient(
    ellipse 80% 80% at 0% 0%,
    #000 50%,
    transparent 90%
  );
  mask-image: radial-gradient(
    ellipse 80% 80% at 0% 0%,
    #000 50%,
    transparent 90%
  );
  z-index: 0;
} */

.card-content {
  /* position: relative; */
  color: var(--color-text-primary);
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
  z-index: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
