/* 
----------------------------------------
PROJECTS SECTION
----------------------------------------
*/

.section-projects {
  padding: 4.8rem 0;
  color: var(--color-text-primary);
}

/* ----------vertical lines----------- */

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  letter-spacing: 2px;
  text-transform: uppercase;

  /* margin: 40px 0; */
}

.section-title--big {
  font-size: 2.4rem;
}

.section-title--mid {
  font-size: 1.8rem;
}

.section-title span {
  position: relative;
  padding: 0 2rem;
}

.section-title span::before,
.section-title span::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 4rem; /* Adjust length of line */
  height: 1px;
  background-color: var(--color-text-tint01); /* Match your design */
}

.section-title span::before {
  left: -4rem; /* Adjust spacing */
}

.section-title span::after {
  right: -4rem; /* Adjust spacing */
}

/* ------------- */

.heading-text {
  letter-spacing: 0.5px;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 500;
}

/* 
CARDS SECTION
*/

.grid-proj-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 4.8rem;
}

.card {
  width: 100%;
  justify-self: center;
  align-self: center;

  /* background: var(--color-background); */
  background: var(--color-bg);
  border-radius: 11px;
  /* box-shadow: inset 0 4px 12px rgba(71, 71, 71, 0.1); */
  box-shadow: inset 0 0 0 1px #535353;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  /* overflow: hidden;
  transition: transform 0.2s ease; */
}

/* .card-img {
  width: 50rem;
} */

.card-content {
  position: relative;
  color: var(--color-text-primary);
  letter-spacing: 0.75px;
  z-index: 1;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  height: 100%;
}

.card-content::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  /* top: -1.6rem; */
  background-image: linear-gradient(
      to right,
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: 20px 20px; /* <-- controls spacing (X Y) */
  -webkit-mask-image: radial-gradient(
    ellipse 80% 80% at 100% 0%,
    #000 50%,
    transparent 90%
  );
  mask-image: radial-gradient(
    ellipse 80% 80% at 100% 0%,
    #000 50%,
    transparent 90%
  );
}

.card-heading {
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.card-text {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.lang-list {
  margin-bottom: 1.6rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.lang-list-item {
  padding: 0.8rem 1.2rem;
  border-radius: 100px;
  background-color: var(--grid-color);
}

.lang-list-item span {
  font-size: 1.2rem;
}
