/* .header-spacer {
  height: 2.4rem;
} */

.header {
  width: 100%;
  height: 6.4rem;
  /* border-bottom: 1px solid var(--color-text-primary); */
  /* display: flex;
  align-items: center; */
  /* this will collapse, hence we should allow the child to grow (flex grow: 1 inside .flex-header) */

  position: sticky; /* stays at top always */
  top: 0;
  left: 0;
  width: 100%;
  height: 6.4rem;
  z-index: 1000;

  background: var(--color-background-l-op);

  /* blur effect */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  /* border-bottom: 1px solid rgba(0, 0, 0, 0.08); */

  transition: background 0.3s ease, border 0.3s ease;
}

.flex-header {
  /* cant beleive this shit vertically centered stuff in header */
  height: 100%;
  /* flex: 1; */
  display: flex;
  gap: 9.6rem;
  align-items: center;
  justify-content: space-between;
}

/* .hero-text-wrap {
  justify-self: center;
} */

.main-nav-list,
.side-action-list {
  list-style: none;

  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.side-action {
  margin-left: auto;
}

.main-logo-text {
  font-family: var(--font-cursive);
  font-size: 2.4rem;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  /* overflow: hidden; */
  /* transform: translateY(4px); */
  text-transform: lowercase;
}

.main-logo-link {
  padding: 1.2rem;
  color: var(--color-text-primary) !important;
}

.main-logo-link:hover,
.main-logo-link:active {
  color: var(--color-accent01) !important;
}

/* 
----------------------------------------
HERO SECTION
----------------------------------------
*/

.section-hero {
  padding: 6.4rem 0;
}

.hero-text-box {
  /* text-align: center; */
  letter-spacing: 0.75px;
}

.primary-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8;
  color: var(--color-text-tint01);
}

.cursive-text {
  font-family: var(--font-cursive);
  font-size: 7.4rem;
  font-weight: 500;
  letter-spacing: normal;
  color: var(--color-text-primary);
}

.hero-texts-list {
  list-style: none;
  display: flex;
  /* flex-direction: column; */
  gap: 1.8rem;
  color: var(--color-text-primary);
}

.hero-texts-list-el {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.hero-cta {
  margin-top: 3.2rem;
}

.hero-img {
  max-width: 80%;
  height: auto;
}

/* 
----------------------------------------
FOOTER SECTION
----------------------------------------
*/

.footer {
  border-top: 1px solid #333;
  color: var(--color-text-primary);
  /* padding: 2.4rem; */
  padding: 1.5rem 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* .footer-link {
  display: flex;
} */

.footer-link a {
  display: inline-block;
  padding: 0.2rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  stroke: currentColor;
}

.icon--big {
  width: 2.4rem;
  height: 2.4rem;
  stroke: currentColor;
}

.icon-right-arrow {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.5rem;
}

.footer-text-box {
  font-size: 1.4rem;
}

.footer-text-box p {
  letter-spacing: 0.75px;
}

.cursive-text--small {
  font-size: 2.4rem;
}

#theme-toggle {
  color: var(--color-text-primary);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text-primary);
  color: var(--color-text-tint01);
  transition: all 0.3s ease;
  cursor: pointer;
}
